OLLAMA_BASE_URL=http://192.168.1.X:11434

RAG_EMBED_MODEL=mxbai-embed-large
RAG_LLM_MODEL=command-r:35b

RAG_DB_PATH=~/.pdf-rag/chroma_db
RAG_CHUNK_SIZE=800
RAG_CHUNK_OVERLAP=150
RAG_TOP_K=5

RESEARCH_DEPTH=2
RESEARCH_N_SUBQUESTIONS=3
